@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');

/*Home*/
.Home{
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-wrap: wrap;
  justify-content: center;
  align-items: stretch;
  margin-top: 30px;
}

/* Image Slider */
.imageSlider{
  width: 60%;
  box-sizing: border-box;
  height: 86vh;
}
.slider{
  width: 95%;
  height: 80vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.image{
  min-width: 100%;
  box-sizing: border-box;
  height: 80vh;
  border-radius: 10px;
  transition: 1s;
  z-index: 2;
}
.dotscontainer{
  background-color: #09325f;
  width: 95%;
  border-radius: 10px;
  height: 80vh;
  float: right;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
  z-index: 0;
  top: -75vh;
}
.dot{
  margin-left: 10px;
  margin-bottom: 10px;
}
.dot:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgb(124,124,124);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.dot:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}
.dot:hover:after {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgb(235, 235, 235);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}

/*Header*/
.Header{
  font-family: 'Roboto', sans-serif;
  color: rgb(124,124,124);
  box-sizing: border-box;
  width: 40%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 300px;
}
.Header h1, .Header h4{
  padding: 0 60px; 
}
.Header h1{
  font-size: 2.2vw;
  text-align: center;
}
.Header h4{
  font-size: 1.3vw;
  text-align: center;
}

/*Main*/
.Main{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 40px 0;
}
.innerMain{
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  justify-content: center;
}
@keyframes MainFormclose {
  0%   {height: 300px; top: 0; opacity: 1;}
  100% {height: 0; top: -100%; opacity: 0; border: none;}
}
.MainFormHide{
  position: relative;
  text-align: center;
  z-index: -5;
  animation-name: MainFormclose;
  animation-duration: 2s;
  animation-iteration-count: 1;  
  animation-fill-mode: forwards;
}
@keyframes MainFormOpen {
  0%   {height: 0px; opacity: 0; top: -100%;}
  100% {height: 300px; opacity: 1; top: 0;}
}
.MainForm{
  margin-top: 20px;
  position: relative;
  text-align: center;
  padding: 0 20px;
  height: 300px;
  animation-name: MainFormOpen;
  animation-duration: 2s;
  animation-iteration-count: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MainForm form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 75vw;
}
.MainForm form label{
  width: 100%;
  margin: 7px 0;
}
.MainForm form select{
  font-size: 16px;
}
.MainForm form input[type=submit]{
  background-color: #4CAF50; /* Green */
  cursor: pointer;
  margin-top: 12px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 17px;
}
.MainForm form label span{
  padding: 0 10px;
  font-size: 16px;
  font-weight: bolder;
}
.MainForm form label input{
  width: 50%;
  margin: 5px 0;
  font-size: 15px;
  padding: 10px 5px;
  border-radius: 8px;
}
.Card{
  width: 350px;
  text-align: center;
  transition: 1s;
  position: relative;
  animation-name: Headeropen;
  animation-duration: 2s;
  font-family: 'Roboto', sans-serif;
  color: rgb(124,124,124);
}
@keyframes example {
  0%   {transform: rotatey(0deg);}
  50%  {transform: rotatey(180deg);}
  100% {transform: rotatey(360deg);}
}

.Card:hover .icon{
  animation-name: example;
  animation-duration: 2s;
  animation-iteration-count: 1;
}

.Card:hover{
  cursor: pointer;
  transform: scale(1.1);
  /*transform: rotatey(180deg);*/
  border-radius: 1rem;
  border: 2px solid rgb(215, 215, 215);
  background-color: #fff;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
  rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  z-index: 2;
}
.dotCard{
  margin-left: 10px;
  margin-bottom: 10px;
}
.dotCard:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgb(124,124,124);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid white;
}
.dotCard:checked:after {
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #fff;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}
.Card:hover .dotCard:after, .dotCard:hover:after {
  cursor: pointer;
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: rgb(235, 235, 235);
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid black;
}
@media (max-width: 998px){
  .Header, .imageSlider{
    width: 100%;
  }
  .Header h1{
    font-size: 2.7vw;
  }
  .Header h4{
    font-size: 1.8vw;
  }
}
@media (max-width: 798px){
  .Header h1{
    font-size: 3.4vw;
  }
  .Header h4{
    font-size: 2.4vw;
  }
}
@media (max-width: 520px){
  .Header h1{
    font-size: 4vw;
  }
  .Header h4{
    font-size: 3vw;
  }
}

/*NavBar*/
.main-nav{
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    overflow: hidden;
}
.logo{
  flex: 2;
  display: flex;
  justify-content: space-around;
}
.logo h2 {
font-size: 1rem;
font-weight: 400;
font-family: 'Roboto', sans-serif;
text-transform: uppercase;
background: -webkit-linear-gradient(#eee, rgb(69, 57, 248));
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
}
.logo h2 span {
font-size: 2.5rem;
}

.main-nav .menu-link{
  flex: 3;
}
.hamburger-menu{
  display: none;
}

.main-nav .menu-link a{
  font-size: 1.3vw;
  text-decoration:  none;
  font-family: 'Roboto', sans-serif;
  color: rgb(124,124,124);
}

.main-nav .menu-link ul{
  display: flex;
  justify-content: space-evenly;
}

.main-nav .menu-link ul li{
  display: inline-block;
  position: relative;
  list-style: none;
}
.main-nav .menu-link ul li:after{
  content: '';
  position: absolute;
  width: 100%;
  transform: scaleX(0);
  height: 2px;
  bottom: 0;
  left: 0;
  background-color: #0087ca;
  transform-origin: bottom right;
  transition: transform 0.25s ease-out;
}
.main-nav .menu-link ul li:hover:after{
  transform: scaleX(1);
  transform-origin: bottom left;
}

@media (max-width: 1080px){
  .main-nav .menu-link a{
    font-size: 1.7vw;
  }

}

@media (max-width: 998px){
  .main-nav .menu-link{
    position: absolute;
    right: -3000px;
    height: 0;
    transition: all 1s linear;
  }
  .menu-link ul{
    opacity: 0;
    transition: all 1s linear;
  }
  .hamburger-menu{
    flex: 3;
    display: flex;
    justify-content: flex-end;
  }
  .hamburger{
    font-size: 30px;
  }
  .mobile-menu-link{
    position: relative;
    z-index: 2;
    background-color: white;
    width: 100%;
    align-items: center;
    
  }
  .mobile-menu-link {
    height: 15rem;
    transition: all 1s linear;
    transform-origin: top;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
      rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
  }
  .mobile-menu-link ul{
    padding: 0;
    padding-left: 15px;
    margin: 0;
    opacity: 1;
    height: 15rem;
    justify-content: space-around;
    transition: all 1s linear;
    align-items: flex-start;
  }
  .mobile-menu-link ul li{
    display: block;
    padding-top: 15px;
    padding-bottom: 20px;
    position: relative;
    list-style: none;
  }
  .mobile-menu-link ul li:after{
    content: '';
    position: absolute;
    width: 100%;
    transform: scaleX(0);
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: #0087ca;
    transform-origin: bottom right;
    transition: transform 0.25s ease-out;
  }
  .mobile-menu-link ul li:hover:after{
    transform: scaleX(1);
    transform-origin: bottom left;
  }
  .mobile-menu-link a{
    font-size: 1.7vw;
    text-decoration:  none;
    font-family: 'Roboto', sans-serif;
    color: rgb(124,124,124);
  }
}

@media (max-width: 798px){
  .mobile-menu-link a{
    font-size: 2vw;
  }
}

@media (max-width: 520px){
  .mobile-menu-link a{
    font-size: 2.2vw;
  }
}

/*Footer*/
.Footer{
  width: 100%;
  font-family: 'Roboto', sans-serif;
  color: #fff;
  display: flex;
  background-color: #09325f;
  justify-content: space-evenly;
  align-items: stretch;
  flex-wrap: wrap;
  padding: 40px 0;
}
.Footer p, .Footer .address ul li a, .Footer .connect  ul li{
  
  font-family: 'Roboto', sans-serif;
  color: rgb(124,124,124);
}
.social{
  text-align: center;
  width: 550px;
  padding: 0 30px;
  text-align: justify;
}
.social ul{
  margin: 0;
  padding: 0;
}
.social ul li{
  list-style: none;
  display: inline;
  padding: 0 10px;
  transition: 1s;
}
.social ul li:hover .socialIcon{
  cursor: pointer;
  transform: scale(1.5);
}
.address{
  width: 330px;
  padding: 0 30px;
  text-align: center;
}
.address ul, .connect ul{
margin: 0;
padding: 0;
}
.address ul li, .connect ul li{
  list-style: none;
  
}
.address ul li a{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: #fff;
}
.connect{
  width: 330px;
  padding: 0 30px;
}
.connect button{
  text-align: center;
  cursor: pointer;
  height: 50px;
  width: 240px;
  color: white;
  background-color: rgb(6,126,245);
  border: none;
  margin: 15px 45px;
}
@media (max-width: 1030px){
  .Footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .social > *, .address > *, .connect > *{
    text-align: center;
  }
  .connect button{
    margin: 15px 0;
  }
  .social, .address, .connect{
    width: 80%;
    align-items: center;
  }
  .connect{
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.copyrights{
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #09325f;
}
.copyrights > *{
  font-family: 'Roboto', sans-serif;
  color: #fff;
  width: 350px;
  text-align: center;
}


/*About Page*/
.About{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.HeaderAbout{
  width: 100%;
  padding-bottom: 30px;
}
.HeaderAbout .front{
  width: 95%;
}
.HeaderAbout .HeadingText{
  position: absolute;
  color: white;
}
.HeaderAbout .HeadingText h2{
  padding-left: 40px;
}
.HeaderAbout .HeadingText p{
  padding-left: 80px;
  font-size: 20px;
  font-weight: bolder;
}
.HeaderAbout .HeadingText p::before{
  content: "";
  display: block;
  position: relative;
  width: 30px;
  height: 2px;
  z-index: 1;
  left: -40px;
  top: 15px;
  bottom: 0;
  border: 1px solid white;
  border-width: 0 0 1px 0;
}
.HeaderAbout .front img{
  width: 100%;
}
.HeaderAbout .back{
  background-color: black;
  position: absolute;
  width: 95%;
  z-index: -10;
  top: 76px;
  right: 0;
}

.MainAbout{
  width: 80%;
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: stretch;
}
.MainAboutLeft{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 25vw;
  border-right: 3px solid black;
}
.MainAboutRight h2{
  width: 100%;
  display: inline;
}
.MainAboutRight{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 45vw;
  padding: 0 30px;
}
.ContentAbout{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%;
  padding: 30px 0 ;
}
.ContentAbout .innerBox{
  display: flex;
}
.ContentAbout .innerBox > *{
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  flex: 1;
  text-align: center;
}

.ContentAbout h2, .ContentAbout p{
  text-align: center;
}
.ContentAbout .innerBox div button{
  text-align: center;
  cursor: pointer;
  height: 50px;
  width: 240px;
  color: white;
  background-color: black;
  border: none;
  margin: 15px 0;

}
.ContentAbout .innerBox div button span::before{
  content: "";
  display: block;
  position: relative;
  width: 30px;
  height: 2px;
  z-index: 1;
  left: 35px;
  top: 9px;
  bottom: 0;
  border: 1px solid white;
  border-width: 0 0 1px 0;
}


@media (max-width: 998px){
  .MainAbout{
    flex-direction: column;
    align-items: center;
  }
  .MainAboutRight{
    width: 70vw;
  }
  .MainAboutLeft{
    border-right: none  ;
    border-bottom: 3px solid black;
  }
  .ContentAbout .innerBox{
    flex-direction: column;
  }
  .ContentAbout > *{
    width: 70vw;
  }
} 
.support{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.support .supportForm{
  display: flex;
  flex-wrap: wrap;
  margin: 30px 0;
  padding: 30px 0;
  width: 80%;
}
.support .supportForm > *{
  flex: 1;
  min-width: 392px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 30px 0;

}
.support .supportForm .supportFormLeft{
  border-right: 3px solid black;
}
@media (max-width: 998px){
  .support .supportForm .supportFormLeft{
    border-right: none;
    border-bottom: 3px solid black;
  }
}
.support .supportForm .supportFormLeft ul{
  margin: 0;
  padding: 0;
}
.support .supportForm .supportFormLeft ul li{
  list-style: none;
  padding: 10px 10px;
  width: 180px;
  transition: 1s;
}
.support .supportForm .supportFormLeft ul li:hover{
  transform: scale(1.3);
}
.support .supportForm .supportFormLeft ul li a{
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  color: black;
}
.support .supportForm .supportFormLeft ul li a span{
  position: relative;
  top: -10px;
  left: 12px;
}

.support .supportForm .supportFormRight form{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.support .supportForm .supportFormRight form label{
  width: 90%;
}
.support .supportForm .supportFormRight form label span{
  padding-left: 5px;
  font-size: 15px;
  font-weight: bolder;
}
.support .supportForm .supportFormRight form label input, .support .supportForm .supportFormRight form label textarea{
  width: 90%;
  margin: 5px 0;
  font-size: 15px;
  padding: 10px 5px;
  color: gray;
  background-color: rgb(248, 246, 243);
  display: block;
  border-radius: 8px;
  resize: none;
}
.support .supportForm .supportFormRight form input[type=submit]{
  background-color: #4CAF50; /* Green */
  cursor: pointer;
  margin-top: 6px;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.services .serviceText{
  padding: 0 200px;
}
.services .serviceCardDiv{
  padding: 40px 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: flex-start;
}
.services .serviceCardDiv .serviceCard{
  width: 35%;
  margin: 35px 25px;
  padding: 20px;
  background-color: rgb(247,247,247);
  border-radius: 25px;
  transition: 1s;
}
.services .serviceText{
  margin-top: 30px;
}
.serviceCard:hover{
  transform: scale(1.2);
}

@media (max-width: 998px){
  .services .serviceCardDiv{
    flex-direction: column;
    align-items: center;
  }
  .services .serviceCardDiv .serviceCard{
    width: 60%;
    margin: 35px 0;
  }
  .services .serviceText{
    padding: 0 80px;
  }
}
.serviceCard h1, .serviceCard p{
  margin: 5px;
}